[phases.setup]
nixPkgs = ["bun", "openssl"]
nixLibs = ["gcc-unwrapped"]
aptPkgs = ["curl", "wget"]

[phases.install]
cmds = ["bun install --frozen"]

[phases.build]
cmds = ["bun run --filter=@repo/database db:generate", "bunx turbo run build"]

[start]
cmd = "bun run --filter=@repo/database db:deploy && bunx turbo run start"
