[phases.setup]
nixPkgs = ["nodejs_22", "npm-9_x", "openssl"]
nixLibs = ["gcc-unwrapped"]
aptPkgs = ["curl", "wget"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx turbo run db:generate", "npx turbo run build"]

[start]
cmd = "echo \"DATABASE_URL='postgres://postgres:CCokBe2XPoPCdJzqUGe7dcw7AlXg7UY4eEmUc8P9AxvqqBT4E39YlX8C2ahbblsX@88.99.1.151:5600/postgres'\" > .env && cp .env packages/database/.env && npx prisma migrate resolve --applied 0_init --schema=packages/database/prisma/schema.prisma && npx prisma migrate deploy --schema=packages/database/prisma/schema.prisma && npx turbo run db:generate --filter=@repo/database && npm run start:migrate"
