@layer theme, base, components, mantine, utilities;
@import "tailwindcss";

@layer mantine {
  @import "@mantine/core/styles.layer.css";
  @import "@mantine/dropzone/styles.css";
  @import "@mantine/notifications/styles.css";
  @import "@mantine/dates/styles.css";
  @import "@gfazioli/mantine-marquee/styles.layer.css";
}
