@layer theme, base, components, mantine, utilities;
@import "@repo/tailwind-config";

@layer mantine {
  @import "@mantine/core/styles.layer.css";
  @import "@mantine/dropzone/styles.css";
  @import "@mantine/notifications/styles.css";
  @import "@mantine/dates/styles.css";
  @import "@mantine/spotlight/styles.css";
  @import "@gfazioli/mantine-marquee/styles.layer.css";
}
