.root:hover .controls {
  opacity: 1;
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.control {
  background-color: var(--mantine-primary-color-filled);
  border: none;
  color: var(--mantine-color-white);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  transform: translateY(20px);

  svg {
    width: 24px !important;
    height: 24px !important;
  }
}

.root:hover .control {
  transform: translateY(0);
}

.control:hover {
  background-color: var(--mantine-primary-color-filled-hover);
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.control:active {
  transform: translateY(-2px) scale(0.98);
}

.control[data-inactive] {
  opacity: 0;
  cursor: default;
}

.indicator {
  width: 12px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--mantine-color-gray-4);
  transition:
    width 250ms ease,
    background-color 250ms ease;
}

.indicator[data-active] {
  width: 40px;
  background-color: var(--mantine-primary-color-filled);
}
