/* carousel.module.css */
.control {
  background-color: var(--mantine-primary-color-filled) !important;
  border: 2px solid var(--mantine-primary-color-filled) !important;
  color: white !important;
  width: 48px !important;
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.2s ease !important;
  backdrop-filter: blur(4px);
  border-radius: 50% !important; /* Full radius */

  &:active {
    transform: scale(0.95) !important;
  }

  & svg {
    width: 20px !important;
    height: 20px !important;
    stroke-width: 2.5 !important;
  }

  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}
